<article class="article-summary card">
    <header>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

        {{ partial "post_meta.html" . }}
    </header>

    <div class="card-body">
        <p>
            {{ if .Description }}
                {{ .Description }}
            {{ else if .Summary }}
                {{ .Summary }}
            {{ end }}
        </p>
    </div><!--/ .card-body -->

    <div class="card-footer">
        <a href="{{ .RelPermalink }}">Read more.</a>
    </div>
</article><!--/ .article-summary -->
