<span class="footer-left">
    {{ if .Site.Params.gitlab }}
        <span class="badge badge-secondary">
            <a title="Gitlab" href="{{ .Site.Params.gitlab }}"><i class="fa fa-gitlab"></i> Gitlab</a>
        </span>
    {{ end }}

    {{ if .Site.Params.irc }}
        <span class="badge badge-secondary">
            <a title="Chat on IRC" href="{{ .Site.Params.irc }}"><i class="fa fa-comments"></i> IRC</a>
        </span>
    {{ end }}

    {{ if .Site.Params.email }}
        <span class="badge badge-secondary">
            <a title="E-mail" href="mailto:{{ .Site.Params.email }}"><i class="fa fa-at"></i> E-mail</a>
        </span>
    {{ end }}
</span>

<span class="footer-right">
    &copy; {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
</span>
