<span class="footer-left">
    {{ if .Site.Params.gitlab }}
        <a title="Gitlab" href="{{ .Site.Params.gitlab }}"><i class="fa fa-gitlab"></i></a>
    {{ end }}

    {{ if .Site.Params.irc }}
        <a title="Chat on IRC" href="{{ .Site.Params.irc }}"><i class="fa fa-comments"></i></a>
    {{ end }}

    {{ if .Site.Params.email }}
        <a title="E-mail" href="mailto:{{ .Site.Params.email }}"><i class="fa fa-at"></i></a>
    {{ end }}
</span>
<span class="footer-right">
    &copy; {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
</span>
