<div class="row">
    <div class="col-sm">
        <ul class="list-group list-group-nodec">
            {{ if .Site.Params.gitlab }}
                <a href="{{ .Site.Params.gitlab }}" title="View projects on Gitlab">
                    <li class="list-group-item">
                        <i class="fas fa-chevron-right"></i>&nbsp;Gitlab
                    </li>
                </a>
            {{ end }}
            {{ if .Site.Params.irc }}
                <a href="{{ .Site.Params.irc }}" title="Chat on IRC">
                    <li class="list-group-item">
                        <i class="fas fa-chevron-right"></i>&nbsp;IRC
                    </li>
                </a>
            {{ end }}
            {{ if .Site.Params.email }}
                <a href="mailto:{{ .Site.Params.email }}" title="E-mail">
                    <li class="list-group-item">
                        <i class="fas fa-chevron-right"></i>&nbsp;E-mail
                    </li>
                </a>
            {{ end }}
        </ul>
    </div><!--/ .col-sm -->
    <div class="col-sm">
        <ul class="list-group list-group-nodec">
            <li class="list-group-item text-right">
                <i class="far fa-copyright"></i>
                {{ now.Format "2006" }}
                <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            </li>
        </ul>
    </div><!--/ .col-sm -->
</div><!--/ .row -->
