<article class="article-summary card">
    <header>
        <h1>{{ .Title }}</h1>

        {{ partial "post_meta.html" . }}
    </header>

    <div class="card-body">
        {{ if .Description }}
            <section class="post-content" id="post-description">
                <p>{{ .Description }}</p>
            </section>
        {{ end }}

        <section class="post-content">
            {{ .Content }}
        </section>

        <footer class="post-footer">
            {{ partial "tags.html" . }}
        </footer>
    </div>
</article>
