<div class="row post-row">
    <div class="col-md-2 post-date">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ include.post.date | date: date_format }}
    </div>
    <div class="col-md-10">
        <h4><a href="{{ include.post.url | relative_url }}">{{ include.post.title | escape }}</a></h4>
        {% if include.post.excerpt %}
            <p> 
                {{ include.post.content | strip_html | truncatewords: 75 }}
                <a class="secondary-text" href="{{ include.post.url | relative_url }}">(more)</a>
            </p>
        {% endif %}
    </div>
</div>
