---
---

$fa-font-path: "fonts/font-awesome/";

@import "variables";
@import "bootstrap/scss/bootstrap";
@import 'font-awesome';

body {
    font-family: 'Domine', serif;
}

nav {
    background:     white;
    border-bottom:  1px solid $lgrey;
    border-top:     5px solid $brand-green;
    border-radius:  $borderrad;
    padding-bottom: 5px;
}

h1 {
    font-size:   1.4em;
    line-height: 1.5em;
}

h2 {
    font-size:   1.3em;
    line-height: 1.4em;
}

h3 {
    font-size:   1.2em;
    line-height: 1.3em;
}

h4 {
    font-size:   1.1em;
    line-height: 1.2em;
}

a, .btn-nodec {
    color: $dgrey;
}

a:hover, .btn-nodec:hover {
    color: $brand-green;
}

button {
    cursor: pointer;
}

.btn-nodec {
    display: inline;
    padding: 0;
}

.secondary-text {
    color: $lmgrey;
}

div#page_content {
    margin-top: 80px;
}

div#footer_content {
    border-radius: $borderrad;
    border-top:    1px solid $lgrey;

    color: $lmgrey;

    margin-top:    $topmar;
    padding-top:   $toppad;
}

.list-group {
    li {
        border:  0;
        padding: 3px;
    }

    i {
        width: 20px;
    }
}

.post-row {
    border-bottom: 1px solid $lgrey;
    padding-top:   20px;
}

.post-row:first-child {
    padding-top: 0;
}

.post-row:last-child {
    border-bottom: 0;
}

.post-date {
    text-align: right;
}
