$article-summary-border: 1px solid $light-grey;
$article-header-padding: 1.95rem;

article.article-summary {
    box-shadow: 1px 0 5px $light-grey;

    border:     $article-summary-border;
    margin-top: 1rem;
    padding:    0 !important;

    header {
        padding: $article-header-padding $article-header-padding 0 $article-header-padding;
    }

    .card-body, .card-footer {
        padding-left:  $article-header-padding;
        padding-right: $article-header-padding;
    }

    .card-footer {
        background: none;
        border-top: 1px solid $light-grey;
    }
}

article.article-summary:first-child {
    margin-top: 0;
}
