body {
    overflow-y: scroll;
}

div#page-content, div#sidebar-nav {
    margin-top:    1rem;
    margin-bottom: 1rem;
}

div#page-content {
    padding: 0;

    article, footer#site-footer {
        padding:    2rem;
    }

    article:first-child {
        //border-top: 0;
    }

    article {
        //background: $light-grey;
    }

    footer#site-footer {
        //background: $tan;
    }
}

.gimme-some-space {
    margin-top: $big-padding;
}
