#site-footer {
    border-top: 1px solid $light-grey;

    .container {
        padding: $big-padding;
    }

    span {
        display: inline-block;
    }

    .footer-left {
        float: left;
    }

    .footer-right {
        float: right;
    }
}
