#site-footer {
    border-top: 1px solid $light-grey;
    box-shadow: 1px 0 5px $light-grey;

    .container {
        padding: $big-padding;
    }

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
