{{ if or .Paginator.HasNext .Paginator.HasPrev }}
  <nav aria-label="Pagination navigation">
    <ul>
      {{ if .Paginator.HasPrev }}
        <li><a href="{{ .Paginator.Prev.URL }}" aria-label="Go to previous page">Previous</a></li>
      {{ end }}
  
      {{ range .Paginator.Pagers }}
        <li><a href="{{ .URL }}" aria-label="Go to page {{ .PageNumber }}">{{ .PageNumber }}</a></li>
      {{ end }}
  
      {{ if .Paginator.HasNext }}
        <li><a href="{{ .Paginator.Next.URL }}" aria-label="Go to next page">Next</a></li>
      {{ end }}
    </ul>
  </nav>
{{ end }}
