{{ define "main" }}
    <article class="article-summary card">
        <header>
            <h1>
                {{ .Title }}
                {{ if .Params.job_title }}
                    <span class="secondary-text">{{ .Params.job_title }}</span>
                {{ end }}
            </h1>

            {{ if or .Params.website .Params.gitlab }}
                <ul class="tag-list">
                    {{ if .Params.website }}
                        <li>
                            <a
                                title="Author's website"
                                href="{{ .Params.website }}"
                            >
                                <span class="badge badge-secondary">
                                    <i class="fa fa-globe"></i> Website
                                </span>
                            </a>
                        </li>
                    {{ end }}

                    {{ if .Params.gitlab }}
                        <li>
                            <a
                                title="Author's Gitlab profile"
                                href="{{ .Params.gitlab }}"
                            >
                                <span class="badge badge-secondary">
                                    <i class="fa fa-gitlab"></i> Gitlab
                                </span>
                            </a>
                        </li>
                    {{ end }}

                    {{ if .Params.github }}
                        <li>
                            <a
                                title="Author's GitHub profile"
                                href="{{ .Params.github }}"
                            >
                                <span class="badge badge-secondary">
                                    <i class="fa fa-github"></i> GitHub
                                </span>
                            </a>
                        </li>
                    {{ end }}

                    {{ if .Params.keybase }}
                        <li>
                            <a
                                title="Author's Keybase profile"
                                href="{{ .Params.keybase }}"
                            >
                                <span class="badge badge-secondary">
                                    <i class="fas fa-key"></i> Keybase
                                </span>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            {{ end }}
        </header>
        <div class="card-body">
            <section class="post-content" id="about-author">
                {{ .Content }}
            </section>
        </div>
    </article>

    {{ $paginator := .Paginate .Data.Pages }}

    {{ range $paginator.Pages }}
        {{ .Render "summary" }}
    {{ end }}

    {{ partial "pagination.html" . }}
{{ end }}
